<form
  method="post"
  action="/collection/add-collection"
  class="form"
  enctype="multipart/form-data"
>
  <h1 class="title">Create a new collection</h1>

  <div class="step one">
    <label for="name" class="label">name</label>
    <input
      class="input"
      type="text"
      id="name"
      name="name"
      placeholder="Name your collection"
    />
    <button class="btn">create</button>
  </div>

 <div class="step two">
  <label for="image" class="label">
    choose a picture
    <i class="icon fas fa-cloud-upload-alt fa-1x"></i>
  </label>
  <input
    class="input"
    type="file"
    id="image"
    name="image"
    accept="image/png, image/jpeg"
  />
  <button class="btn">create</button>
</div>

<div class="step three">
  <label for="description" class="label">description</label>
  <textarea
    type="text"
    class="input"
    id="description"
    name="description"
    placeholder="What is your collection about ?"
  ></textarea>
  <button class="btn">create</button>
</div>

  
</form>