<body class="body">

<h1 class="pagetitle">Collections</h1>

<div id="collectioncard">
<a href="/update-collection/:id" class="link"><img class="icon" src="images/edit.svg" alt=""></a> 
<a href="/delete/:id" class="link"><img class="icon" src="images/trash.svg" alt=""></a>

{{#each collection}}
<p style="color: white;">{{this.name}}</p>
{{/each}}

</div>
</body>