  <header id="header-main">
    <span id="logo-main">
      <a href="/"><img src="images/luvit.svg" alt=""></a>
    </span>
    <nav >
      <a href="/collection" class="link"><img class="icon" src="images/icon list.svg" alt=""></a> 
      <a href="/userprofil" class="link"><img class="icon" src="images/icon user.svg" alt=""></a>
    </nav>
  </header>