.body{
    background: linear-gradient(0deg, rgba(4, 0, 28, 0.80), rgba(4, 0, 28, 0.80)), url("./../images/jungle.jpeg");
    background-size: cover;   
}

.pagetitle{
    /* position: absolute; */
    left: 35%;
    top: 40%;
    
    
    color: rgba(255, 235, 205, 0);
    font-weight: 900;
    font-size: 96px;
    line-height: 40px;
    
    -webkit-text-stroke: 2px  #6A52F0;
    transform: rotate(90deg);
    } 